@charset "UTF-8";
/* line 9, ../sass/variables.scss */
.fs12, .progress .progress-bar {
  font-size: 0.2025rem;
}

/* line 9, ../sass/variables.scss */
.fs13 {
  font-size: 0.21938rem;
}

/* line 9, ../sass/variables.scss */
.fs14 {
  font-size: 0.23625rem;
}

/* line 9, ../sass/variables.scss */
.fs15 {
  font-size: 0.25313rem;
}

/* line 9, ../sass/variables.scss */
.fs16 {
  font-size: 0.27rem;
}

/* line 9, ../sass/variables.scss */
.fs17 {
  font-size: 0.28688rem;
}

/* line 9, ../sass/variables.scss */
.fs18 {
  font-size: 0.30375rem;
}

/* line 9, ../sass/variables.scss */
.fs19 {
  font-size: 0.32063rem;
}

/* line 9, ../sass/variables.scss */
.fs20, .main-menu .menu-item, .wx-home .home-tip, .prj-panel .prj-tl .version, .prj-panel .prj-cont .prj-time p:last-child, .prj-panel .prj-cont .prj-status, .progress-rate {
  font-size: 0.3375rem;
}

/* line 9, ../sass/variables.scss */
.fs21 {
  font-size: 0.35438rem;
}

/* line 9, ../sass/variables.scss */
.fs22, .wx-tips-box, .prj-panel .prj-tag, .prj-tag-box .prj-tag {
  font-size: 0.37125rem;
}

/* line 9, ../sass/variables.scss */
.fs23 {
  font-size: 0.38813rem;
}

/* line 9, ../sass/variables.scss */
.fs24, .prj-panel .prj-tl .tl-exp, .prj-panel .prj-cont .small-rate, .prj-panel .prj-cont .prj-time, .wx-invest-succ .ivt-succ-cont .ivt-succ-r {
  font-size: 0.405rem;
}

/* line 9, ../sass/variables.scss */
.fs25 {
  font-size: 0.42188rem;
}

/* line 9, ../sass/variables.scss */
.fs26 {
  font-size: 0.43875rem;
}

/* line 9, ../sass/variables.scss */
.fs27 {
  font-size: 0.45563rem;
}

/* line 9, ../sass/variables.scss */
.fs28, .prj-panel .prj-tl, .wx-invest-succ .ivt-succ-cont .succ-d dd {
  font-size: 0.4725rem;
}

/* line 9, ../sass/variables.scss */
.fs29 {
  font-size: 0.48937rem;
}

/* line 9, ../sass/variables.scss */
.fs30 {
  font-size: 0.50625rem;
}

/* line 9, ../sass/variables.scss */
.fs31 {
  font-size: 0.52312rem;
}

/* line 9, ../sass/variables.scss */
.fs32, .prj-d-panel .prj-rate .small-rate, .btn {
  font-size: 0.54rem;
}

/* line 9, ../sass/variables.scss */
.fs33 {
  font-size: 0.55688rem;
}

/* line 9, ../sass/variables.scss */
.fs34 {
  font-size: 0.57375rem;
}

/* line 9, ../sass/variables.scss */
.fs35 {
  font-size: 0.59062rem;
}

/* line 9, ../sass/variables.scss */
.fs36, .prj-d-panel .prj-tl {
  font-size: 0.6075rem;
}

/* line 9, ../sass/variables.scss */
.fs37 {
  font-size: 0.62438rem;
}

/* line 9, ../sass/variables.scss */
.fs38 {
  font-size: 0.64125rem;
}

/* line 9, ../sass/variables.scss */
.fs39 {
  font-size: 0.65813rem;
}

/* line 9, ../sass/variables.scss */
.fs40, .wx-invest-succ .ivt-succ-cont .succ-tip {
  font-size: 0.675rem;
}

/* line 4, ../sass/layout.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/layout.scss */
body {
  max-width: 10.8rem;
  margin: auto;
  color: #333;
  background: #f0eff5;
  font-size: 0.405rem;
  font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'microsoft yahei';
  -webkit-tap-highlight-color: transparent;
}

/* line 20, ../sass/layout.scss */
a:focus, input:focus, p:focus, div:focus {
  -webkit-tap-highlight-color: transparent;
}

/* line 24, ../sass/layout.scss */
.hide {
  display: none !important;
}

/* line 27, ../sass/layout.scss */
.show {
  display: block !important;
}

/* line 31, ../sass/layout.scss */
.t-c {
  text-align: center;
}

/* line 32, ../sass/layout.scss */
.t-l {
  text-align: left;
}

/* line 33, ../sass/layout.scss */
.t-r {
  text-align: right;
}

/* line 34, ../sass/layout.scss */
.mt15 {
  margin-top: 0.25313rem;
}

/* line 35, ../sass/layout.scss */
.mt20 {
  margin-top: 0.3375rem;
}

/* line 36, ../sass/layout.scss */
.mb20 {
  margin-bottom: 0.3375rem;
}

/* line 37, ../sass/layout.scss */
.mt35 {
  margin-top: 0.59062rem;
}

/* line 38, ../sass/layout.scss */
.mtb20 {
  margin-top: 0.3375rem;
  margin-bottom: 0.3375rem;
}

/* line 40, ../sass/layout.scss */
.em {
  color: #f2433e;
}

/* line 41, ../sass/layout.scss */
strong {
  font-weight: 700;
}

/*全站glob*/
/*wx-nav*/
/* line 49, ../sass/layout.scss */
.wx-nav {
  position: relative;
  background-color: #f2433e;
  color: #fff;
  line-height: 1.6875rem;
}
/* line 54, ../sass/layout.scss */
.wx-nav .wx-nav-back {
  position: absolute;
  height: 100%;
  width: 12%;
  background-color: #ed1610;
  text-align: center;
}
/* line 60, ../sass/layout.scss */
.wx-nav .wx-nav-back .iconfont {
  font-size: 0.84375rem;
}
/* line 64, ../sass/layout.scss */
.wx-nav .wx-nav-box {
  font-size: 0.4725rem;
  text-align: center;
}

/*tab切换*/
/* line 74, ../sass/layout.scss */
.wx-tab-box {
  background: #fff;
}
/* line 76, ../sass/layout.scss */
.wx-tab-box .tab-nav {
  display: flex;
  text-align: center;
}
/* line 79, ../sass/layout.scss */
.wx-tab-box .tab-nav li {
  flex: 1;
  margin: 0.59062rem 0;
  font-size: 0.4725rem;
  color: #62666f;
}
/* line 84, ../sass/layout.scss */
.wx-tab-box .tab-nav li + li {
  border-left: 1px solid #ccc;
}
/* line 87, ../sass/layout.scss */
.wx-tab-box .tab-nav li.active {
  color: #f2433e;
}
/* line 92, ../sass/layout.scss */
.wx-tab-box .tab-item {
  display: none;
  padding: 0.42188rem 0.50625rem;
}
/* line 95, ../sass/layout.scss */
.wx-tab-box .tab-item.active {
  display: block;
}

/*表格*/
/* line 103, ../sass/layout.scss */
.wx-table {
  width: 100%;
  font-size: 0.405rem;
  text-align: center;
}
/* line 107, ../sass/layout.scss */
.wx-table th, .wx-table td {
  text-align: center;
  padding: 0.42188rem 0;
}
/* line 111, ../sass/layout.scss */
.wx-table tr {
  border-bottom: 1px dashed #EFE8E8;
}
/* line 114, ../sass/layout.scss */
.wx-table thead tr:first-child {
  border-bottom: 1px solid #ccc;
}

/*按钮*/
/* line 120, ../sass/layout.scss */
.wx-btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 0.4725rem;
  padding: 0.4725rem 0;
  background-color: #fff;
  color: #64646b;
  text-decoration: none;
}

/* line 132, ../sass/layout.scss */
.wx-btn-revest {
  display: inline-block;
  width: 6.75rem;
  color: #f2433e;
  border: 1px solid;
}

/* line 138, ../sass/layout.scss */
.wx-btn-sure {
  background-color: #f2433e;
  color: #FFF;
}

/* line 142, ../sass/layout.scss */
.wx-btn-countdown {
  background-color: #b0b0b0;
  color: #FFF;
}

/* line 146, ../sass/layout.scss */
.wx-btn-over {
  background-color: #b0b0b0;
  color: #666666;
}

/* line 150, ../sass/layout.scss */
.wx-btn-logout {
  width: 9.95625rem;
  margin-left: 0.42188rem;
  position: fixed;
  bottom: 0;
  border-radius: 5px;
}

/* line 157, ../sass/layout.scss */
.wx-fix-bt {
  position: fixed;
  bottom: 0;
  z-index: 200;
}

/*背景*/
/* line 164, ../sass/layout.scss */
.bg-gray {
  background: #f0eff5;
}

/*tips*/
/* line 167, ../sass/layout.scss */
.wx-tips-box {
  position: absolute;
  padding: 0.16875rem 0.42188rem;
  background-color: #484749;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  transform: translate(-50%, 0);
}
/* line 176, ../sass/layout.scss */
.wx-tips-box .wx-tips-arrow {
  position: absolute;
  border: 8px solid transparent;
}
/* line 180, ../sass/layout.scss */
.wx-tips-box .wx-tips-arrowdown {
  bottom: -16px;
  left: 50%;
  margin-left: -8px;
  border-top-color: #484749;
}
/* line 186, ../sass/layout.scss */
.wx-tips-box .wx-tips-arrowup {
  top: -16px;
  left: 50%;
  margin-left: -8px;
  border-bottom-color: #484749;
}
/* line 192, ../sass/layout.scss */
.wx-tips-box .wx-tips-arrowleft {
  top: 50%;
  left: -16px;
  margin-top: -8px;
  border-right-color: #484749;
}
/* line 198, ../sass/layout.scss */
.wx-tips-box .wx-tips-arrowright {
  top: 50%;
  right: -16px;
  margin-top: -8px;
  border-left-color: #484749;
}

/* line 212, ../sass/layout.scss */
.pp-dialog .pp-modal .pp-modal-footer .pp-btn-group .pp-modal-btn {
  background: #FFF;
}
/* line 219, ../sass/layout.scss */
.pp-dialog .active {
  background-color: rgba(255, 255, 255, 0.4);
}
/* line 222, ../sass/layout.scss */
.pp-dialog .pp-loading {
  position: fixed;
  top: 50%;
  left: 52%;
}

/* line 229, ../sass/layout.scss */
.main-menu {
  width: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
  border-top: 1px solid #b2b2b6;
  background: #fff;
}
/* line 235, ../sass/layout.scss */
.main-menu .menu-item {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  color: #818187;
  text-align: center;
}
/* line 240, ../sass/layout.scss */
.main-menu .menu-item a {
  color: #818187;
}
/* line 243, ../sass/layout.scss */
.main-menu .menu-item .icon {
  display: block;
  padding: 0.16875rem 0;
  font-size: 1.0125rem;
}
/* line 249, ../sass/layout.scss */
.main-menu .menu-item p {
  padding-bottom: 0.16875rem;
}

/* line 255, ../sass/layout.scss */
.wx-scroll-wrap {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-flex-direction: column;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 264, ../sass/layout.scss */
.wx-scroll-wrap .iscroll-bd {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  overflow: hidden;
  position: relative;
}
/* line 268, ../sass/layout.scss */
.wx-scroll-wrap .iscroll-bd .refresh, .wx-scroll-wrap .iscroll-bd .reload {
  position: absolute;
  left: 45%;
  font-size: 45px;
  color: #f2433e;
}
/* line 274, ../sass/layout.scss */
.wx-scroll-wrap .iscroll-bd .refresh {
  top: 30px;
}
/* line 277, ../sass/layout.scss */
.wx-scroll-wrap .iscroll-bd .reload {
  bottom: 30px;
}
/* line 281, ../sass/layout.scss */
.wx-scroll-wrap .wx-detail-wrap {
  position: relative;
}
/* line 284, ../sass/layout.scss */
.wx-scroll-wrap .wx-nav {
  height: 1.6875rem;
}
/* line 287, ../sass/layout.scss */
.wx-scroll-wrap .iscroll-c {
  z-index: 10;
}

/* line 4, ../sass/prj-detial.scss */
.wx-btn-invest {
  position: fixed;
  bottom: 0;
}

/* line 9, ../sass/prj-detial.scss */
.wx-content {
  margin-bottom: 1.51875rem;
}

/* line 13, ../sass/prj-detial.scss */
.rank-box {
  display: flex;
  padding-bottom: 0.675rem;
  font-size: 0.405rem;
  text-align: center;
}
/* line 18, ../sass/prj-detial.scss */
.rank-box li {
  flex: 1;
}
/* line 20, ../sass/prj-detial.scss */
.rank-box li .iconfont {
  display: inline-block;
  font-size: 1.1475rem;
  color: #ff7975;
}
/* line 25, ../sass/prj-detial.scss */
.rank-box li span {
  display: inline-block;
  padding: 0.0675rem 0;
}

/* line 32, ../sass/prj-detial.scss */
.download-app {
  padding: 0.675rem 0;
}

/* line 36, ../sass/prj-detial.scss */
.intro-box {
  border-left: 1px solid #ccc;
  text-align: center;
}
/* line 39, ../sass/prj-detial.scss */
.intro-box .item {
  font-size: 0.405rem;
}
/* line 27, ../sass/mixin/function.scss */
.intro-box .item:before, .intro-box .item:after {
  content: " ";
  display: table;
}
/* line 32, ../sass/mixin/function.scss */
.intro-box .item:after {
  clear: both;
}
/* line 43, ../sass/prj-detial.scss */
.intro-box .item > div {
  padding: 0.25313rem 0;
  border: 1px solid #ccc;
  margin: -1px 0 0 0px;
  border-left: 0;
}
/* line 49, ../sass/prj-detial.scss */
.intro-box .item .name {
  float: left;
  width: 20%;
  background-color: #f0f0f5;
}
/* line 54, ../sass/prj-detial.scss */
.intro-box .item .describe {
  float: left;
  width: 30%;
}
/* line 58, ../sass/prj-detial.scss */
.intro-box .item .describe-l {
  width: 80%;
}

/* line 65, ../sass/prj-detial.scss */
.intro-box-table {
  border: 1px solid #CCC;
  width: 100%;
}
/* line 70, ../sass/prj-detial.scss */
.intro-box-table tbody tr td {
  border: 1px solid #CCC;
  padding: 0.16875rem;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #CCC;
  text-align: center;
}

/* line 82, ../sass/prj-detial.scss */
.prj-note {
  margin: 0.50625rem 0;
}
/* line 84, ../sass/prj-detial.scss */
.prj-note h2 {
  border-left: 3px solid;
  padding-left: 0.16875rem;
}
/* line 88, ../sass/prj-detial.scss */
.prj-note .note-c {
  color: #64646b;
  margin: 0.3375rem 0;
}
/* line 91, ../sass/prj-detial.scss */
.prj-note .note-c > * {
  line-height: 1.4;
}

/* line 95, ../sass/prj-detial.scss */
.wx-d-hd {
  background: #fff;
  padding: 0.3375rem 0;
  text-align: center;
}
/* line 99, ../sass/prj-detial.scss */
.wx-d-hd h1 {
  padding-top: 0.84375rem;
  padding-bottom: 0.3375rem;
  font-size: 0.54rem;
  color: #333;
}
/* line 106, ../sass/prj-detial.scss */
.wx-d-hd .ticket-box u {
  margin: 0 0.08438rem;
  padding: 0.10125rem 0.135rem;
  border: 1px solid;
  color: #f2433e;
  font-size: 0.3375rem;
  text-decoration: none;
}
/* line 115, ../sass/prj-detial.scss */
.wx-d-hd .profit-box {
  margin: 0.50625rem 0;
  color: #f2433e;
}
/* line 118, ../sass/prj-detial.scss */
.wx-d-hd .profit-box big {
  font-size: 1.35rem;
}
/* line 121, ../sass/prj-detial.scss */
.wx-d-hd .profit-box small {
  font-size: 0.54rem;
}
/* line 124, ../sass/prj-detial.scss */
.wx-d-hd .profit-box p {
  font-size: 0.3375rem;
  color: #a3a3a3;
  margin-top: 0.16875rem;
}
/* line 130, ../sass/prj-detial.scss */
.wx-d-hd .prj-list {
  padding-top: 0.50625rem;
  display: flex;
}
/* line 133, ../sass/prj-detial.scss */
.wx-d-hd .prj-list li {
  flex: 1;
  border-right: 1px solid #ccc;
}
/* line 135, ../sass/prj-detial.scss */
.wx-d-hd .prj-list li:last-child {
  border-color: transparent;
}
/* line 139, ../sass/prj-detial.scss */
.wx-d-hd .prj-list .v {
  font-size: 0.4725rem;
  padding-bottom: 0.25313rem;
}
/* line 140, ../sass/prj-detial.scss */
.wx-d-hd .prj-list .t {
  font-size: 0.3375rem;
  color: #a6a6ac;
}

/* line 144, ../sass/prj-detial.scss */
.ticket-box {
  margin: 0.3375rem 0;
}

/* line 148, ../sass/prj-detial.scss */
.wx-d-bd {
  background: #fff;
  margin: 0.3375rem 0;
  padding: 0.42188rem 0.50625rem;
}
/* line 152, ../sass/prj-detial.scss */
.wx-d-bd .t {
  float: left;
  font-size: 0.4725rem;
}
/* line 153, ../sass/prj-detial.scss */
.wx-d-bd .v {
  float: right;
  font-size: 0.405rem;
  color: #62666f;
}
/* line 154, ../sass/prj-detial.scss */
.wx-d-bd .em {
  color: #f2433e;
}
/* line 27, ../sass/mixin/function.scss */
.wx-d-bd .invest:before, .wx-d-bd .invest:after,
.wx-d-bd .profit:before,
.wx-d-bd .profit:after,
.wx-d-bd .my-ticket:before,
.wx-d-bd .my-ticket:after {
  content: " ";
  display: table;
}
/* line 32, ../sass/mixin/function.scss */
.wx-d-bd .invest:after,
.wx-d-bd .profit:after,
.wx-d-bd .my-ticket:after {
  clear: both;
}
/* line 160, ../sass/prj-detial.scss */
.wx-d-bd .invest {
  margin-bottom: 0.3375rem;
}
/* line 163, ../sass/prj-detial.scss */
.wx-d-bd .money {
  border-bottom: 1px solid #ccc;
}
/* line 166, ../sass/prj-detial.scss */
.wx-d-bd .profit, .wx-d-bd .my-ticket {
  color: #62666f;
  padding: 0.3375rem 0;
}
/* line 170, ../sass/prj-detial.scss */
.wx-d-bd .bg-gray {
  margin: 0.3375rem 0;
}
/* line 176, ../sass/prj-detial.scss */
.wx-d-bd input {
  width: 80%;
  border: 0;
  font-weight: 700;
  font-size: 0.81rem;
}
/* line 181, ../sass/prj-detial.scss */
.wx-d-bd input:focus {
  outline: 0;
}
/* line 185, ../sass/prj-detial.scss */
.wx-d-bd .error-tips {
  margin-bottom: 0.3375rem;
}
/* line 188, ../sass/prj-detial.scss */
.wx-d-bd label {
  font-size: 0.54rem;
  font-family: Arial;
}

/* line 190, ../sass/prj-detial.scss */
.section {
  margin-bottom: 0.3375rem;
  padding: 0.3375rem 0;
  font-size: 0.3375rem;
  text-align: center;
}

/* line 196, ../sass/prj-detial.scss */
.wx-d-fd {
  background: #fff;
}

/* line 199, ../sass/prj-detial.scss */
.wx-det-tips .det-tips-txt {
  padding: 0.42188rem 0.50625rem;
  font-size: 0.3375rem;
  color: #c48100;
  background-color: #ffebb4;
}
/* line 204, ../sass/prj-detial.scss */
.wx-det-tips .det-tips-txt > a {
  color: #c48100;
  text-decoration: underline;
}

/* line 211, ../sass/prj-detial.scss */
.prj-detail-iscroll {
  position: absolute;
  left: 0;
  top: 1.6875rem;
  bottom: 1.6875rem;
  background-color: red;
  width: 100%;
  overflow: hidden;
}

/* line 222, ../sass/prj-detial.scss */
.invest-tips-box .error-tips {
  font-size: 0.3375rem;
  color: #f2433e;
}

/* line 228, ../sass/prj-detial.scss */
.wx-prj-det {
  position: relative;
}

/* line 1, ../sass/my-coupon.scss */
.fl {
  float: left;
}

/* line 4, ../sass/my-coupon.scss */
.fr {
  float: right;
}

/* line 7, ../sass/my-coupon.scss */
.wx-top {
  padding: 0.3375rem 0.42188rem;
  background: #fff;
}
/* line 10, ../sass/my-coupon.scss */
.wx-top .count {
  position: relative;
}
/* line 27, ../sass/mixin/function.scss */
.wx-top .count:before, .wx-top .count:after {
  content: " ";
  display: table;
}
/* line 32, ../sass/mixin/function.scss */
.wx-top .count:after {
  clear: both;
}
/* line 13, ../sass/my-coupon.scss */
.wx-top .count .fl {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* line 17, ../sass/my-coupon.scss */
.wx-top .top-btn {
  display: inline-block;
  padding: 0.23625rem 0.3375rem;
  font-size: 0.405rem;
  color: #fa635e;
  border: 1px solid #fa635e;
}

/* line 25, ../sass/my-coupon.scss */
.wx-mcoupon {
  padding: 0.42188rem 0.50625rem;
}
/* line 30, ../sass/my-coupon.scss */
.wx-mcoupon .mcoupon-item {
  display: table;
  width: 100%;
  margin: 0.25313rem 0;
  height: 2.86875rem;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
/* line 27, ../sass/mixin/function.scss */
.wx-mcoupon .mcoupon-item:before, .wx-mcoupon .mcoupon-item:after {
  content: " ";
  display: table;
}
/* line 32, ../sass/mixin/function.scss */
.wx-mcoupon .mcoupon-item:after {
  clear: both;
}
/* line 41, ../sass/my-coupon.scss */
.wx-mcoupon .mcoupon-item.active {
  border-color: #f2433e;
}
/* line 43, ../sass/my-coupon.scss */
.wx-mcoupon .mcoupon-item.active .flag {
  display: block;
}
/* line 47, ../sass/my-coupon.scss */
.wx-mcoupon .mcoupon-item .coupon-t, .wx-mcoupon .mcoupon-item .coupon-c, .wx-mcoupon .mcoupon-item .wx-btn-sure {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: middle;
}
/* line 52, ../sass/my-coupon.scss */
.wx-mcoupon .mcoupon-item .coupon-t {
  text-align: center;
  width: 28%;
  border-right: 1px dotted #ccc;
}
/* line 56, ../sass/my-coupon.scss */
.wx-mcoupon .mcoupon-item .coupon-t p {
  line-height: 1.4;
}
/* line 60, ../sass/my-coupon.scss */
.wx-mcoupon .mcoupon-item .coupon-c {
  width: 72%;
}
/* line 62, ../sass/my-coupon.scss */
.wx-mcoupon .mcoupon-item .coupon-c li {
  font-size: 0.3375rem;
  color: #999;
  margin-left: 0.16875rem;
  line-height: 1.6;
}
/* line 63, ../sass/my-coupon.scss */
.wx-mcoupon .mcoupon-item .coupon-c li:before {
  content: '·';
}
/* line 72, ../sass/my-coupon.scss */
.wx-mcoupon .mcoupon-item .em {
  font-size: 0.50625rem;
}
/* line 76, ../sass/my-coupon.scss */
.wx-mcoupon .mcoupon-item .flag {
  display: none;
  position: absolute;
  right: -0.64125rem;
  bottom: -0.675rem;
  width: 1.2825rem;
  height: 1.2825rem;
  background-color: #fa635e;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 85, ../sass/my-coupon.scss */
.wx-mcoupon .mcoupon-item .flag .iconfont {
  color: #FFF;
  font-size: 0.50625rem;
  position: absolute;
  left: 0rem;
  top: 0.42188rem;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 96, ../sass/my-coupon.scss */
.wx-mcoupon .mcoupon-use .mcoupon-item {
  border-width: 0;
}
/* line 99, ../sass/my-coupon.scss */
.wx-mcoupon .mcoupon-use .coupon-c {
  width: 62%;
}
/* line 102, ../sass/my-coupon.scss */
.wx-mcoupon .mcoupon-use .wx-btn-sure {
  width: 10%;
  border-radius: 5px;
  font-size: 0.405rem;
  position: relative;
}

/* line 110, ../sass/my-coupon.scss */
.wx-mycp-wrap {
  width: 100%;
}
/* line 112, ../sass/my-coupon.scss */
.wx-mycp-wrap .wx-mcoupon {
  padding: 0;
  width: 90%;
  margin-left: 5%;
}

/* line 119, ../sass/my-coupon.scss */
.coupon-alert {
  display: none;
  background: #f0eff5;
}
/* line 122, ../sass/my-coupon.scss */
.coupon-alert .count {
  height: 0.84375rem;
  line-height: 0.84375rem;
}
/* line 126, ../sass/my-coupon.scss */
.coupon-alert .wx-mcoupon {
  z-index: 10000000;
  width: 90%;
  margin-left: 5%;
  overflow: hidden;
  padding: 0;
}
/* line 133, ../sass/my-coupon.scss */
.coupon-alert .wx-mcoupon .mcoupon-list {
  padding-bottom: 0.3375rem;
}
/* line 136, ../sass/my-coupon.scss */
.coupon-alert .wx-mcoupon .wx-mcoupon-list {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
/* line 158, ../sass/my-coupon.scss */
.coupon-alert .wx-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10000001;
}

/*微信-我的账户*/
/* line 4, ../sass/my-account.scss */
.wx-ac .ac-hd {
  position: relative;
  background: -webkit-linear-gradient(#ff5b3d, #fb543d, #f5493e, #f3443e);
}
/* line 10, ../sass/my-account.scss */
.wx-ac img {
  width: 100%;
  height: 100%;
}
/* line 14, ../sass/my-account.scss */
.wx-ac a {
  text-decoration: none;
}

/* line 19, ../sass/my-account.scss */
.user {
  color: #FFF;
}
/* line 21, ../sass/my-account.scss */
.user .user-photo {
  padding-top: 0.97875rem;
}

/*设置*/
/* line 28, ../sass/my-account.scss */
.user-set {
  position: absolute;
  left: 0.50625rem;
  top: 0.50625rem;
}
/* line 32, ../sass/my-account.scss */
.user-set .iconfont {
  color: #FFF;
  display: block;
  font-size: 0.7425rem;
}

/* line 38, ../sass/my-account.scss */
.set-common {
  width: 0.7425rem;
  height: 0.7425rem;
}

/*签到*/
/* line 44, ../sass/my-account.scss */
.user-sign {
  position: absolute;
  right: 0.59062rem;
  top: 0.55688rem;
}

/* line 49, ../sass/my-account.scss */
.sign-common {
  font-size: 0.4725rem;
  color: #FFF;
}
/* line 52, ../sass/my-account.scss */
.sign-common .iconfont {
  font-size: 0.57375rem;
  display: inline-block;
  margin-right: 0.16875rem;
  vertical-align: baseline;
}

/*头像&简称*/
/* line 62, ../sass/my-account.scss */
.ac-user-photo .photo-box {
  position: relative;
  width: 2.07563rem;
  height: 2.07563rem;
  margin: 0 auto;
}
/* line 67, ../sass/my-account.scss */
.ac-user-photo .photo-box .photo {
  width: 100%;
  height: 100%;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 50%;
  border: 0.08438rem solid rgba(255, 255, 255, 0.4);
}
/* line 75, ../sass/my-account.scss */
.ac-user-photo .photo-box .level {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 0.54rem;
  height: 0.54rem;
  line-height: 0.54rem;
  text-align: center;
  background: #ffd015;
  color: #f84d3e;
  border-radius: 50%;
  font-size: 0.3375rem;
}
/* line 90, ../sass/my-account.scss */
.ac-user-photo .nick {
  margin-top: 0.50625rem;
  text-align: center;
  font-size: 0.405rem;
}

/*净资产&余额*/
/* line 98, ../sass/my-account.scss */
.assets-common {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  margin-top: 0.25313rem;
}
/* line 101, ../sass/my-account.scss */
.assets-common .cont {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  text-align: center;
}
/* line 104, ../sass/my-account.scss */
.assets-common .cont .num {
  font-size: 0.6075rem;
}
/* line 107, ../sass/my-account.scss */
.assets-common .cont .des {
  padding-top: 0.16875rem;
  padding-bottom: 0.50625rem;
  font-size: 0.3375rem;
}
/* line 113, ../sass/my-account.scss */
.assets-common .net-assets {
  position: relative;
}
/* line 115, ../sass/my-account.scss */
.assets-common .net-assets:after {
  display: block;
  content: "";
  background: #FFF;
  width: 1px;
  height: 45%;
  position: absolute;
  right: 0;
  top: 28%;
  opacity: 0.3;
}

/*提现&充值*/
/* line 131, ../sass/my-account.scss */
.user-ctrl {
  display: -webkit-box;
  font-size: 0.4725rem;
  background: #FFF;
}
/* line 135, ../sass/my-account.scss */
.user-ctrl .btn-ctrl {
  display: block;
  -webkit-box-flex: 1;
  text-align: center;
  height: 1.51875rem;
  line-height: 1.51875rem;
}
/* line 141, ../sass/my-account.scss */
.user-ctrl .btn-ctrl span {
  display: block;
  border-right: 1px solid #d0d0d2;
}
/* line 146, ../sass/my-account.scss */
.user-ctrl .atms {
  color: #6e6e74;
  position: relative;
}
/* line 149, ../sass/my-account.scss */
.user-ctrl .atms:after {
  display: block;
  content: "";
  background: #d0d0d2;
  width: 1px;
  height: 35%;
  position: absolute;
  right: 0;
  top: 30%;
}
/* line 160, ../sass/my-account.scss */
.user-ctrl .recharge {
  color: #f2433e;
}

/* line 166, ../sass/my-account.scss */
.user-item .user-act {
  height: 1.8225rem;
  font-size: 0.4725rem;
  background: #FFF;
}
/* line 170, ../sass/my-account.scss */
.user-item .user-act > a {
  color: #64646b;
}
/* line 172, ../sass/my-account.scss */
.user-item .user-act > a .icon {
  position: relative;
  width: 1.755rem;
}
/* line 175, ../sass/my-account.scss */
.user-item .user-act > a .icon .iconfont {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0.70875rem;
}
/* line 180, ../sass/my-account.scss */
.user-item .user-act > a .detail {
  display: -webkit-box;
  -webkit-box-align: center;
  width: 8.01563rem;
  border-top: 1px solid #ccccd2;
}
/* line 185, ../sass/my-account.scss */
.user-item .user-act > a .detail .name {
  width: 30%;
}
/* line 188, ../sass/my-account.scss */
.user-item .user-act > a .detail .txt {
  width: 70%;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 192, ../sass/my-account.scss */
.user-item .user-act > a .detail .txt em {
  padding: 0 0.0675rem;
  color: #f2433e;
  position: relative;
}
/* line 199, ../sass/my-account.scss */
.user-item .user-act > a > .arrow {
  width: 1.02938rem;
  border-top: 1px solid #ccccd2;
  display: -webkit-box;
  -webkit-box-align: center;
}
/* line 204, ../sass/my-account.scss */
.user-item .user-act > a > .arrow .iconfont {
  margin-left: 0.08438rem;
  color: #ccccd2;
  font-size: 0.50625rem;
  font-weight: bold;
}
/* line 211, ../sass/my-account.scss */
.user-item .user-act > a > div {
  float: left;
  height: 100%;
}
/* line 218, ../sass/my-account.scss */
.user-item .user-act:first-child > a .detail, .user-item .user-act:first-child > a .arrow {
  border-top: none;
}
/* line 224, ../sass/my-account.scss */
.user-item .indep-mod > a .detail, .user-item .indep-mod > a .arrow {
  border-top: none;
}

/*红色点*/
/* line 230, ../sass/my-account.scss */
.tips {
  display: inline-block;
  width: 0.16875rem;
  height: 0.16875rem;
  margin: 0 0.0675rem;
  background: #f2433e;
  border-radius: 50%;
  vertical-align: middle;
}

/*设置列表样式*/
/* line 244, ../sass/my-account.scss */
.st-item .user-act > a .icon {
  width: 0.50625rem;
}
/* line 247, ../sass/my-account.scss */
.st-item .user-act > a .detail {
  width: 9.23063rem;
}
/* line 250, ../sass/my-account.scss */
.st-item .user-act > a .arrow {
  width: 1.06313rem;
}
/* line 252, ../sass/my-account.scss */
.st-item .user-act > a .arrow .iconfont {
  font-weight: normal;
}

/* line 260, ../sass/my-account.scss */
.tips-box {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
}
/* line 268, ../sass/my-account.scss */
.tips-box .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
/* line 277, ../sass/my-account.scss */
.tips-box .cont {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #FFF;
  border-radius: 15px;
}
/* line 282, ../sass/my-account.scss */
.tips-box .cont .txt {
  text-align: center;
  padding: 0.75938rem 1.09688rem;
  min-width: 7.59375rem;
}
/* line 286, ../sass/my-account.scss */
.tips-box .cont .txt h3 {
  font-size: 0.81rem;
  color: #f2433e;
}
/* line 289, ../sass/my-account.scss */
.tips-box .cont .txt h3.is-signed {
  font-size: 0.405rem;
}
/* line 293, ../sass/my-account.scss */
.tips-box .cont .txt p {
  font-size: 0.4725rem;
  line-height: 0.64125rem;
}
/* line 296, ../sass/my-account.scss */
.tips-box .cont .txt p em {
  color: #f2433e;
}

/* line 7, ../sass/home.scss */
.tc {
  text-align: center;
}

/* line 10, ../sass/home.scss */
.cl-grey {
  color: #a6a6a6;
}

/* line 13, ../sass/home.scss */
a {
  text-decoration: none;
}

/* line 18, ../sass/home.scss */
.wx-home .home-tip {
  padding-top: 0.675rem;
  padding-bottom: 0.59062rem;
  color: #acacac;
  text-align: center;
}
/* line 24, ../sass/home.scss */
.wx-home .home-tip:before, .wx-home .home-tip:after {
  content: '.';
  vertical-align: text-top;
}

/* line 30, ../sass/home.scss */
.prj-panel {
  position: relative;
  margin-top: 0.3375rem;
  padding: 0.675rem 0.50625rem;
  background: #fff;
  overflow: hidden;
}
/* line 36, ../sass/home.scss */
.prj-panel > .prj-href {
  color: #333;
}
/* line 41, ../sass/home.scss */
.prj-panel .prj-tl .version {
  display: inline-block;
  margin-left: 0.23625rem;
  margin-right: 0.42188rem;
  padding: 0.0675rem 0.16875rem;
  color: #f2433e;
  border: 1px solid #f2433e;
  border-radius: 4px;
}
/* line 55, ../sass/home.scss */
.prj-panel .prj-cont {
  padding-top: 0.59062rem;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  align-items: center;
}
/* line 62, ../sass/home.scss */
.prj-panel .prj-cont > div {
  position: relative;
}
/* line 66, ../sass/home.scss */
.prj-panel .prj-cont .prj-rate {
  width: 43.29%;
  font-size: 0.84375rem;
  color: #f2433e;
}
/* line 70, ../sass/home.scss */
.prj-panel .prj-cont .prj-rate .profit-ttyb {
  font-size: 0.84375rem;
}
/* line 74, ../sass/home.scss */
.prj-panel .prj-cont .prj-rate-mini {
  font-size: 0.81rem;
}
/* line 77, ../sass/home.scss */
.prj-panel .prj-cont .small-rate {
  color: #f2433e;
}
/* line 81, ../sass/home.scss */
.prj-panel .prj-cont .prj-time {
  width: 26.64%;
}
/* line 84, ../sass/home.scss */
.prj-panel .prj-cont .prj-time p:last-child {
  padding-top: 0.25313rem;
}
/* line 89, ../sass/home.scss */
.prj-panel .prj-cont .prj-status {
  width: 29.97%;
}
/* line 92, ../sass/home.scss */
.prj-panel .prj-cont .prj-status .prj-start, .prj-panel .prj-cont .prj-status .prj-end {
  width: 2.7rem;
  height: 0.675rem;
  line-height: 0.675rem;
  text-align: center;
}
/* line 98, ../sass/home.scss */
.prj-panel .prj-cont .prj-status .prj-start {
  border: 1px solid #f2433e;
  color: #f2433e;
}
/* line 102, ../sass/home.scss */
.prj-panel .prj-cont .prj-status .prj-end {
  border: 1px solid #e9e9e9;
  color: #acacac;
  background-color: #e9e9e9;
}
/* line 110, ../sass/home.scss */
.prj-panel .prj-lhb .prj-time {
  width: 30%;
}
/* line 113, ../sass/home.scss */
.prj-panel .prj-lhb .prj-status {
  width: 26.72%;
}
/* line 117, ../sass/home.scss */
.prj-panel .prj-btn {
  /*margin: 0 px2rem(40);*/
  width: 8.4375rem;
  border-radius: 8px;
}
/* line 122, ../sass/home.scss */
.prj-panel .prj-tag {
  position: absolute;
  top: 0.30375rem;
  right: -0.92813rem;
  width: 3.20625rem;
  height: 0.675rem;
  line-height: 0.675rem;
  background: #f2433e;
  color: #fff;
  text-align: center;
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

/* line 136, ../sass/home.scss */
.prj-d-panel {
  text-align: center;
}
/* line 141, ../sass/home.scss */
.prj-d-panel .prj-rate {
  padding: 1.0125rem 0;
  font-size: 1.35rem;
  color: #f2433e;
}
/* line 149, ../sass/home.scss */
.prj-d-panel .prj-item {
  padding-top: 0;
  padding-bottom: 1.0125rem;
}
/* line 152, ../sass/home.scss */
.prj-d-panel .prj-item .prj-time {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* line 155, ../sass/home.scss */
.prj-d-panel .prj-item > :first-child {
  border-right: 1px solid #d2d2d2;
}
/* line 158, ../sass/home.scss */
.prj-d-panel .prj-item > :last-child {
  border-left: 1px solid #d2d2d2;
}

/* line 163, ../sass/home.scss */
.btn {
  display: block;
  margin: 0 auto;
  height: 1.51875rem;
  line-height: 1.51875rem;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/* line 171, ../sass/home.scss */
.btn-org {
  background: #f2433e;
  color: #fff;
}

/* line 175, ../sass/home.scss */
.btn-default {
  background: #fff;
  color: #333;
}

/* line 179, ../sass/home.scss */
.progress {
  position: relative;
  display: inline-block;
  width: 1.6875rem;
  height: 0.05063rem;
  overflow: hidden;
  background-color: #ddd;
  vertical-align: middle;
}
/* line 187, ../sass/home.scss */
.progress .progress-bar {
  float: left;
  width: 0;
  height: 100%;
  line-height: 0.05063rem;
  color: #fff;
  text-align: center;
  background-color: #f2433e;
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

/* line 200, ../sass/home.scss */
.progress-rate {
  display: inline-block;
  padding-left: 0.16875rem;
  color: #b2b2b2;
  vertical-align: middle;
}

/* line 208, ../sass/home.scss */
.wx-invest-succ {
  text-align: center;
  background-color: #fff;
}
/* line 211, ../sass/home.scss */
.wx-invest-succ .ivt-succ-cont {
  padding: 1.43438rem 2.025rem;
  color: #6e6e74;
}
/* line 214, ../sass/home.scss */
.wx-invest-succ .ivt-succ-cont .icon {
  display: block;
  font-size: 2.025rem;
  color: #f2433e;
}
/* line 219, ../sass/home.scss */
.wx-invest-succ .ivt-succ-cont .succ-tip {
  padding: 0.75938rem 0;
}
/* line 223, ../sass/home.scss */
.wx-invest-succ .ivt-succ-cont .succ-d {
  display: inline-block;
}
/* line 225, ../sass/home.scss */
.wx-invest-succ .ivt-succ-cont .succ-d dd {
  padding: 0.25313rem 0;
  text-align: left;
}
/* line 231, ../sass/home.scss */
.wx-invest-succ .ivt-succ-cont .ivt-succ-btn {
  margin-top: 1.0125rem;
  margin-bottom: 0.75938rem;
  border-radius: 4px;
}
/* line 236, ../sass/home.scss */
.wx-invest-succ .ivt-succ-cont .ivt-succ-r {
  text-decoration: underline;
  color: #6e6e74;
}
/* line 242, ../sass/home.scss */
.wx-invest-succ .ivt-succ-ft {
  padding-top: 0.92813rem;
  width: 100%;
}
/* line 245, ../sass/home.scss */
.wx-invest-succ .ivt-succ-ft img {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 253, ../sass/home.scss */
.prj-tag-box {
  position: relative;
  overflow: hidden;
}
/* line 256, ../sass/home.scss */
.prj-tag-box .prj-tag {
  position: absolute;
  top: 0.30375rem;
  right: -0.92813rem;
  width: 3.375rem;
  height: 0.675rem;
  line-height: 0.675rem;
  background: #f2433e;
  color: #fff;
  text-align: center;
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

/* line 271, ../sass/home.scss */
.wx-banner {
  height: 6.19313rem;
  position: relative;
}
/* line 274, ../sass/home.scss */
.wx-banner .islider-dot-wrap {
  height: auto;
  margin-bottom: 0.25313rem;
}
/* line 277, ../sass/home.scss */
.wx-banner .islider-dot-wrap .islider-dot {
  width: 0.2025rem;
  height: 0.2025rem;
  background-color: #FFF;
  opacity: 0.3;
}
/* line 282, ../sass/home.scss */
.wx-banner .islider-dot-wrap .islider-dot.active {
  opacity: 1;
}

/*ul wrapper*/
/* line 290, ../sass/home.scss */
#iSlider-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 296, ../sass/home.scss */
#iSlider-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* line 304, ../sass/home.scss */
#iSlider-wrapper li {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  list-style: none;
}

/* line 316, ../sass/home.scss */
#iSlider-wrapper li img {
  display: block;
  width: 100%;
  height: 100%;
}

/* === Pages === */
/* line 5, ../sass/pages.scss */
.page, .page-group {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
/* line 14, ../sass/pages.scss */
.page.page-current, .page.page-visible, .page.page-from-center-to-left, .page.page-from-center-to-right, .page.page-from-right-to-center, .page.page-from-left-to-center, .page-group.page-current, .page-group.page-visible, .page-group.page-from-center-to-left, .page-group.page-from-center-to-right, .page-group.page-from-right-to-center, .page-group.page-from-left-to-center {
  display: block;
}
/* line 23, ../sass/pages.scss */
.page.page-current, .page-group.page-current {
  background: #F0EFF5;
  cursor: pointer;
}

/* line 29, ../sass/pages.scss */
.page-group {
  display: block;
}

/* line 35, ../sass/pages.scss */
.page-transitioning, .page-transitioning .swipeback-page-shadow {
  transition: 400ms;
}

/* line 40, ../sass/pages.scss */
.page-from-right-to-center {
  animation: pageFromRightToCenter 400ms forwards;
  z-index: 2002;
}

/* line 44, ../sass/pages.scss */
.page-from-center-to-right {
  animation: pageFromCenterToRight 400ms forwards;
  z-index: 2002;
}

@keyframes pageFromRightToCenter {
  from {
    transform: translate3d(100%, 0, 0);
    opacity: .9;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes pageFromCenterToRight {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(100%, 0, 0);
    opacity: .9;
  }
}
/* line 73, ../sass/pages.scss */
.page-from-center-to-left {
  animation: pageFromCenterToLeft 400ms forwards;
}

/* line 76, ../sass/pages.scss */
.page-from-left-to-center {
  animation: pageFromLeftToCenter 400ms forwards;
}

@keyframes pageFromCenterToLeft {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0.5;
    transform: translate3d(-20%, 0, 0);
  }
}
@keyframes pageFromLeftToCenter {
  from {
    opacity: .5;
    transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* line 101, ../sass/pages.scss */
.iScrollLoneScrollbar {
  width: 4px !important;
}

/* line 104, ../sass/pages.scss */
.page-loading {
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* line 113, ../sass/pages.scss */
.page-loading .pp-loading {
  height: 50px;
}
/* line 116, ../sass/pages.scss */
.page-loading h1 {
  font-size: 0.675rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0.3375rem;
}

@keyframes page-loading-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@-webkit-keyframes page-loading-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes page-loading-shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
@-webkit-keyframes page-loading-shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
