/* === Pages === */
/* line 5, ../sass/pages.scss */
.page, .page-group {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
/* line 14, ../sass/pages.scss */
.page.page-current, .page.page-visible, .page.page-from-center-to-left, .page.page-from-center-to-right, .page.page-from-right-to-center, .page.page-from-left-to-center, .page-group.page-current, .page-group.page-visible, .page-group.page-from-center-to-left, .page-group.page-from-center-to-right, .page-group.page-from-right-to-center, .page-group.page-from-left-to-center {
  display: block;
}
/* line 23, ../sass/pages.scss */
.page.page-current, .page-group.page-current {
  background: #F0EFF5;
  cursor: pointer;
}

/* line 29, ../sass/pages.scss */
.page-group {
  display: block;
}

/* line 35, ../sass/pages.scss */
.page-transitioning, .page-transitioning .swipeback-page-shadow {
  transition: 400ms;
}

/* line 40, ../sass/pages.scss */
.page-from-right-to-center {
  animation: pageFromRightToCenter 400ms forwards;
  z-index: 2002;
}

/* line 44, ../sass/pages.scss */
.page-from-center-to-right {
  animation: pageFromCenterToRight 400ms forwards;
  z-index: 2002;
}

@keyframes pageFromRightToCenter {
  from {
    transform: translate3d(100%, 0, 0);
    opacity: .9;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes pageFromCenterToRight {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(100%, 0, 0);
    opacity: .9;
  }
}
/* line 73, ../sass/pages.scss */
.page-from-center-to-left {
  animation: pageFromCenterToLeft 400ms forwards;
}

/* line 76, ../sass/pages.scss */
.page-from-left-to-center {
  animation: pageFromLeftToCenter 400ms forwards;
}

@keyframes pageFromCenterToLeft {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0.5;
    transform: translate3d(-20%, 0, 0);
  }
}
@keyframes pageFromLeftToCenter {
  from {
    opacity: .5;
    transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* line 101, ../sass/pages.scss */
.iScrollLoneScrollbar {
  width: 4px !important;
}

/* line 104, ../sass/pages.scss */
.page-loading {
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* line 113, ../sass/pages.scss */
.page-loading .pp-loading {
  height: 50px;
}
/* line 116, ../sass/pages.scss */
.page-loading h1 {
  font-size: px2rem(40);
  font-weight: normal;
  text-align: center;
  margin-bottom: px2rem(20);
}

@keyframes page-loading-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@-webkit-keyframes page-loading-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes page-loading-shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
@-webkit-keyframes page-loading-shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
