/* line 9, ../sass/variables.scss */
.fs12 {
  font-size: px2rem(12);
}

/* line 9, ../sass/variables.scss */
.fs13 {
  font-size: px2rem(13);
}

/* line 9, ../sass/variables.scss */
.fs14 {
  font-size: px2rem(14);
}

/* line 9, ../sass/variables.scss */
.fs15 {
  font-size: px2rem(15);
}

/* line 9, ../sass/variables.scss */
.fs16 {
  font-size: px2rem(16);
}

/* line 9, ../sass/variables.scss */
.fs17 {
  font-size: px2rem(17);
}

/* line 9, ../sass/variables.scss */
.fs18 {
  font-size: px2rem(18);
}

/* line 9, ../sass/variables.scss */
.fs19 {
  font-size: px2rem(19);
}

/* line 9, ../sass/variables.scss */
.fs20 {
  font-size: px2rem(20);
}

/* line 9, ../sass/variables.scss */
.fs21 {
  font-size: px2rem(21);
}

/* line 9, ../sass/variables.scss */
.fs22 {
  font-size: px2rem(22);
}

/* line 9, ../sass/variables.scss */
.fs23 {
  font-size: px2rem(23);
}

/* line 9, ../sass/variables.scss */
.fs24 {
  font-size: px2rem(24);
}

/* line 9, ../sass/variables.scss */
.fs25 {
  font-size: px2rem(25);
}

/* line 9, ../sass/variables.scss */
.fs26 {
  font-size: px2rem(26);
}

/* line 9, ../sass/variables.scss */
.fs27 {
  font-size: px2rem(27);
}

/* line 9, ../sass/variables.scss */
.fs28 {
  font-size: px2rem(28);
}

/* line 9, ../sass/variables.scss */
.fs29 {
  font-size: px2rem(29);
}

/* line 9, ../sass/variables.scss */
.fs30 {
  font-size: px2rem(30);
}

/* line 9, ../sass/variables.scss */
.fs31 {
  font-size: px2rem(31);
}

/* line 9, ../sass/variables.scss */
.fs32 {
  font-size: px2rem(32);
}

/* line 9, ../sass/variables.scss */
.fs33 {
  font-size: px2rem(33);
}

/* line 9, ../sass/variables.scss */
.fs34 {
  font-size: px2rem(34);
}

/* line 9, ../sass/variables.scss */
.fs35 {
  font-size: px2rem(35);
}

/* line 9, ../sass/variables.scss */
.fs36 {
  font-size: px2rem(36);
}

/* line 9, ../sass/variables.scss */
.fs37 {
  font-size: px2rem(37);
}

/* line 9, ../sass/variables.scss */
.fs38 {
  font-size: px2rem(38);
}

/* line 9, ../sass/variables.scss */
.fs39 {
  font-size: px2rem(39);
}

/* line 9, ../sass/variables.scss */
.fs40 {
  font-size: px2rem(40);
}
