$danger:#e21313;
$dark-danger:#c2060b;
$disabled:#c0c0c8;

$primary:#1a98ff;
$dark-primary:#0f82d1;
$light-gray:#e6e6e6;
$gray:#999999;
$dark-gray:#333333;
$green:#6db247;
$bg:#efeef4;
$imgSrc:"../../img/";


